<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:task="http://www.springframework.org/schema/task"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
							http://www.springframework.org/schema/context 
							http://www.springframework.org/schema/context/spring-context-3.0.xsd
							http://www.springframework.org/schema/aop
							http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
							http://www.springframework.org/schema/task   
							http://www.springframework.org/schema/task/spring-task-3.0.xsd">
	
    
    
    <!-- ===================== Advertisment ===========================  -->
    <bean id="advertismentDao" class="com.irace.dao.impl.AdvertismentDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>  
    </bean>
    <bean id="advertismentServiceBase" class="com.irace.service.impl.AdvertismentServiceImpl">  
        <property name="advertismentDao" ref="advertismentDao"></property>
    </bean>
    <bean name="advertismentService" parent="transactionProxy">
        <property name="target" ref="advertismentServiceBase"></property>  
    </bean>
    
    <!-- ===================== Apply ===========================  -->
    <bean id="applyDao" class="com.irace.dao.impl.ApplyDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>  
    </bean>
    <bean id="applyServiceBase" class="com.irace.service.impl.ApplyServiceImpl">  
        <property name="applyDao" ref="applyDao"></property>
        <property name="messageDao" ref="messageDao"></property>
    </bean>
    <bean name="applyService" parent="transactionProxy">
        <property name="target" ref="applyServiceBase"></property>  
    </bean>
    
    <!-- ===================== BigType ===========================  -->
    <bean id="bigTypeDao" class="com.irace.dao.impl.BigTypeDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>  
    </bean>
    <bean id="bigTypeServiceBase" class="com.irace.service.impl.BigTypeServiceImpl">  
        <property name="bigTypeDao" ref="bigTypeDao"></property>
    </bean>
    <bean name="bigTypeService" parent="transactionProxy">
        <property name="target" ref="bigTypeServiceBase"></property>  
    </bean>
    
    <!-- ===================== Message ===========================  -->
    <bean id="messageDao" class="com.irace.dao.impl.MessageDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>  
    </bean>
    <bean id="messageServiceBase" class="com.irace.service.impl.MessageServiceImpl">  
        <property name="messageDao" ref="messageDao"></property>
    </bean>
    <bean name="messageService" parent="transactionProxy">
        <property name="target" ref="messageServiceBase"></property>  
    </bean>
    
    
    <!-- ===================== Race ===========================  -->
    <bean id="raceDao" class="com.irace.dao.impl.RaceDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>  
    </bean>
    <bean id="raceServiceBase" class="com.irace.service.impl.RaceServiceImpl">  
        <property name="raceDao" ref="raceDao"></property>
    </bean>
    <bean name="raceService" parent="transactionProxy">
        <property name="target" ref="raceServiceBase"></property>  
    </bean>
    
    <!-- ===================== Team ===========================  -->
    <bean id="teamDao" class="com.irace.dao.impl.TeamDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>  
    </bean>
    <bean id="teamServiceBase" class="com.irace.service.impl.TeamServiceImpl">  
        <property name="teamDao" ref="teamDao"></property>
    </bean>
    <bean name="teamService" parent="transactionProxy">
        <property name="target" ref="teamServiceBase"></property>  
    </bean>
    
    <!-- ===================== User ===========================  -->
    <bean id="userDao" class="com.irace.dao.impl.UserDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>  
    </bean>
    <bean id="userServiceBase" class="com.irace.service.impl.UserServiceImpl">  
        <property name="userDao" ref="userDao"></property>
        <property name="raceDao" ref="raceDao"></property>
    </bean>
    <bean name="userService" parent="transactionProxy">
        <property name="target" ref="userServiceBase"></property>  
    </bean>
    
    
    
    
    
    
    
</beans>